.button {
  margin: 0 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  border: 0;
  font-weight: 400;
  cursor: pointer;
  background: var(--color-btn-yellow);
  text-decoration: none;
  color: var(--color-black);
}
