@import 'src/styles/variables';

.button {
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  border: 0;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  background: $colorBtnYellow;
  text-decoration: none;
  color: $colorBlack;
  text-align: center;
}
