@import 'src/styles/variables';

.form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-content: center;
}

.remindPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid $colorTurquoise;
  outline: 0.2rem solid $colorBlueOutline;
  width: 20rem;
  height: 13rem;
  margin: 0 0.5rem;
}

.input {
  height: 1.8rem;
  width: 100%;
}

.remindPasswordText {
  text-align: center;
  margin: 1rem 0 2rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.sendBtnDiv {
  display: flex;
  justify-content: center;
}

.sendBtn {
  margin-top: 0.5rem;
  box-shadow: inset 0 0.1rem 0 0 $colorLoginBtnBoxShadow;
  background: linear-gradient(to bottom, $colorBackGround2 5%, $colorBackGround1 100%);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  color: $colorWhite;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem 2rem;
  text-decoration: none;
  text-shadow: 0 0.2rem 0 $colorTextShadowLoginBtn;
  width: 100%;

  &:hover {
    background: linear-gradient(to bottom, $colorBackGround1 5%, $colorBackGround2 100%);
    background-color: $colorBackGround1;
  }

  &:active {
    position: relative;
    top: 0.1rem;
  }

  &:disabled {
    background: $colorBtnDisabled;
    text-shadow: none;
  }
}

.p {
  color: $colorRed;
  font-size: 0.8rem;
}

@media only screen and (min-width: 47.5rem) {
  .remindPasswordForm {
    width: 35rem;
  }

  .input {
    width: 20rem;
  }
}

@media only screen and (min-width: 64rem) {
  .remindPasswordForm {
    width: 45rem;
  }

  .input {
    width: 23rem;
  }
}
