@import 'src/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 40rem;
  margin: 5vh auto;
  padding: 5vh;
  border: 2px solid $colorTurquoise;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.line {
  width: 100%;
  margin: 4.25vh 0 0;
  border: 0;
  height: 0.2rem;
  background: $colorTurquoise;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 3.5vh 0 0.5vh;
}

.input {
  padding: 0.8vh;
  border-radius: 0;
  border: 1px solid $colorGrey;
}

.span {
  margin-top: 0.8rem;
}

@media only screen and (min-width: 47.5rem) {
  .p {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
