@import 'src/styles/variables';

.reservation {
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  margin-bottom: 1.25rem;
  position: relative;
  width: 100%;

  @media screen and (min-width: 40rem) {
    flex-direction: row;
  }

  &Image {
    width: 100%;

    @media screen and (min-width: 40rem) {
      width: 30%;
      margin-right: 1.875rem;
    }
  }

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &Title {
    margin: 1rem 0;
    text-decoration: none;
    font-size: 1.17em;
    font-weight: 700;
    color: $colorBlack;

    @media screen and (min-width: 40rem) {
      margin-top: 0;
    }
  }

  p {
    margin: 0;
    padding-bottom: 0.5rem;

    span {
      font-weight: 700;
    }
  }
}
