@import 'src/styles/variables';

.hamburger {
  background-color: $colorBtnYellow;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  flex-flow: nowrap;
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 2rem;
  align-self: center;
}

@media (min-width: 48em) {
  .hamburger {
    display: none;
  }
}
