@import 'src/styles/variables';

.hamburger {
  background-color: $colorBtnYellow;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: nowrap;
  cursor: pointer;
  border: none;

  @media (min-width: 48em) {
    display: none;
  }

  &Active {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }
}

.burger {
  width: 1.5rem;
  align-self: center;
}
