@import 'src/styles/variables';

.container {
  width: 90%;
  max-width: 45rem;
  margin: 1rem auto;
}

.formContainer {
  border: 2px solid $colorTurquoise;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5vh;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.line {
  width: 100%;
  margin: 2rem 0;
  border: 0;
  height: 0.2rem;
  background: $colorTurquoise;
}

.info {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.span {
  color: $colorTurquoise;
}

.form {
  display: flex;
  flex-direction: column;
}

.success {
  color: $colorTurquoise;
}

.error {
  margin: 0.2rem 0;
  font-size: 0.8rem;
  color: $colorRed;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;

  .labelName {
    font-size: 0.8rem;
  }

  .input {
    padding: 0.8vh;
    margin-top: 1vh;
    border-radius: 0;
    border: 1px solid $colorGrey;
  }
}

.labelNamePayment {
  margin: 3vh 0 1.5vh;
  font-size: 1rem;
  max-width: 10.5rem;
}

.passwordReminder {
  margin-top: 0.5rem;
  align-self: flex-start;
  font-size: 0.9rem;
}

.link {
  text-decoration: none;
}

.optional {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0.8rem;
}

.checkboxNameAnimals {
  font-size: 1rem;
  margin: 1.5rem 0.3rem 1rem 0;
}

.objectCheckbox {
  margin: 0.3rem 0.3rem 0.8rem 0;
}

.checkboxName {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.animalsName {
  font-size: 0.8rem;
}

@media screen and (min-width: 37.5rem) {
  .container {
    padding: 5vh;
  }

  .title {
    font-size: 1.6rem;
  }

  .info {
    font-size: 1rem;
  }

  .label {
    margin: 0.7rem 0;

    .labelName {
      font-size: 1rem;
    }

    .input {
      padding: 1vh;
    }
  }

  .checkboxName {
    font-size: 0.9rem;
  }

  .animalsName {
    font-size: 1rem;
  }
}
