$colorWhite: #fff;
$colorBlack: #000;
$colorDarkBg: #282c34;
$colorReactBrand: #61dafb;
$colorBtnYellow: #facd3d;
$colorGrey: #939393;
$colorTurquoise: #2cccc3;
$colorTurquoiseDark: #03948d;
$colorRed: red;
$colorBlueOutline: rgb(36 159 241);
$colorLoginBtnBoxShadow: #bbdaf7;
$colorBackGround1: #378de5;
$colorBackGround2: #79bbff;
$colorBtnDisabled: rgb(46 40 40);
$colorTextShadowLoginBtn: #528ecc;
$colorInputBorder: #dedede;
