.objectsList {
  &Title {
    font-size: 2rem;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 59.5rem) {
  .objectsList {
    &Title {
      margin-top: 0;
    }
  }
}
