@use 'sass:color';
@import 'src/styles/variables';

.searchForm {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: $colorWhite;
  text-align: center;

  .formGroup {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;

    &.dataPicker {
      flex: 1 50%;
    }

    label {
      font-size: 1.4rem;
      line-height: 1.25;
      font-weight: 300;
    }

    [placeholder] {
      text-overflow: ellipsis;
    }

    .input,
    .datePicker input {
      text-align: center;
      width: 100%;
      vertical-align: middle;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.25;
      margin-top: 0.5em;
      background-color: $colorWhite;
      color: $colorGrey;
      border: none;
    }
  }

  .searchBtn {
    flex: 100%;
    padding: 1em 1.5em;
    background-color: $colorTurquoise;
    color: $colorWhite;
    border: none;
    cursor: pointer;

    &:disabled {
      cursor: auto;
      background-color: color.adjust($colorTurquoise, $lightness: 20%);
    }
  }

  @media screen and (min-width: 56em) {
    text-align: left;

    .formGroup {
      flex: 1 15%;

      .input,
      .datePicker input {
        text-align: left;
      }

      &.localisation {
        flex: 1 30%;
      }

      &.dataPicker {
        flex: 1 20%;
      }

      .validationError {
        text-align: left;
      }
    }

    .searchBtn {
      flex: 5%;
    }
  }
}
