/* stylelint-disable */
@use 'sass:color';
@import '../../styles/variables';

.searchForm {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: $white;
  text-align: center;

  .formGroup {
    flex: 1 100%;
    display: flex;
    flex-direction: column;

    &.dataPicker {
      flex: 1 50%;
    }

    label {
      font-size: 1.4rem;
      line-height: 28px;
      font-weight: 300;
      padding: 0.5em;
    }

    [placeholder] {
      text-overflow: ellipsis;
    }

    .input,
    .datePicker input {
      padding: 0.5em;
      text-align: center;
      width: 100%;
      vertical-align: middle;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
      background-color: $white;
      color: $primaryGrey;
      border: none;
    }

    .localizationInput {
      flex: 1 25%;
    }
  }

  .searchBtn {
    flex-basis: 100%;
    padding: 1em 1.2em;
    background-color: $turquoise;
    color: $white;
    border: none;
    cursor: pointer;

    &:disabled {
      background-color: color.adjust($turquoise, $lightness: 20%);
    }
  }

  @media screen and (min-width: $medium) {
    text-align: left;

    .formGroup {
      flex: 1 12.6%;

      &.localization {
        flex: 1 25%;
      }

      &.dataPicker {
        flex: 1 17%;
      }

      .input,
      .datePicker input {
        text-align: left;
      }
    }

    .searchBtn {
      flex-basis: 5%;
    }
  }
}
