@import 'src/styles/variables';

.header {
  background: $colorBlack;
  position: relative;
  margin: 0;

  &Image {
    background-image: url('../../images/bg-header.png');
  }

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    padding: 1rem 0.938rem;
    margin: 0 auto;
  }
}

.navigation {
  display: none;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $colorBlack;
  width: 100%;
  padding: 4rem 1rem 0;
  z-index: 3;

  &Active {
    display: flex;
  }

  @media (min-width: 48em) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
  }

  &Container {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 48em) {
      flex-direction: row;
    }
  }

  &Buttons {
    display: block;

    @media (min-width: 48em) {
      display: flex;
    }

    a {
      display: block;
      margin-bottom: 1rem;

      @media (min-width: 48em) {
        margin: 0 1rem;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
