@import 'src/styles/variables';

.sectionTitle {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.prices {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &Label {
    width: 45%;

    &Name {
      display: inline-block;
      margin: 0.5vh 0;
      font-size: 1rem;
    }

    &Input {
      border: 1px solid $colorInputBorder;
      height: 2rem;
      width: 100%;
      padding: 0.5rem;
      display: block;

      &:focus {
        outline-color: $colorTurquoise;
      }
    }
  }
}

.languages,
.propertyType {
  display: flex;
  flex-direction: column;

  &LabelName {
    display: inline-block;
    margin: 0.5vh 0;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
}

.checkbox {
  margin: 0 0.5rem 0 0;
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid $colorInputBorder;
  display: inline-grid;
  place-content: center;
  transition: border-color 200ms ease-in-out;

  &::before {
    content: '';
    width: 0.7em;
    height: 0.7em;
    background: $colorTurquoise;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:checked {
    border-color: $colorTurquoise;
  }
}

@media screen and (min-width: 59.5rem) {
  .sectionTitle {
    font-size: 1rem;
  }

  .prices {
    &Label {
      &Name {
        font-size: 0.9rem;
      }
    }
  }

  .propertyType,
  .languages {
    &LabelName {
      font-size: 0.9rem;
    }
  }
}
