@import 'src/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 40rem;
  margin: 5vh auto;
  padding: 3vh;
  border: 2px solid $colorTurquoise;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.line {
  width: 100%;
  margin: 4vh 0 0;
  border: 0;
  height: 0.2rem;
  background: $colorTurquoise;
}

.info {
  margin: 2vh 0 4vh;
  font-size: 0.6rem;
}

.span {
  color: $colorTurquoise;
}

.form {
  display: flex;
  flex-direction: column;
}

.error {
  margin: 0.2rem 0;
  font-size: 0.8rem;
  color: rgb(247 71 40);
}

label {
  margin: 4vh 0 1vh;
  font-size: 0.8rem;
}

input {
  padding: 0.9vw;
  border-radius: 0;
  border: 1px solid $colorGrey;
}

@media screen and (min-width: 37.5rem) {
  .container {
    padding: 5vh;
  }

  .title {
    font-size: 1.6rem;
  }

  .info {
    font-size: 0.7rem;
  }

  label {
    margin: 5vh 0 1vh;
    font-size: 1rem;
  }

  input {
    padding: 0.7vw;
  }
}
