@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-bg: #282c34;
  --color-react-brand: #61dafb;
  --color-btn-yellow: #facd3d;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
