@import 'src/styles/variables';

.home {
  background: url('../../images/bg-home.png'), $colorBlack;
  width: 100%;
  background-size: cover;
  height: 100vh;

  .text {
    color: $colorWhite;
    font-weight: 400;
    font-size: 1.5rem;

    .tqColor {
      color: $colorTurquoise;
    }

    @media screen and (min-width: 56em) {
      font-size: 2rem;
    }

    @media screen and (min-width: 75em) {
      .text {
        font-size: 3rem;
      }
    }
  }

  .main {
    flex-direction: column;
    padding: 0 1rem;
    max-width: 75rem;
    height: 100vh;
    display: flex;
    justify-content: center;

    @media (min-width: 48em) {
      margin: 0 auto;
    }
  }
}
