name: Test, build, and deploy

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci

      - run: npm run lint
      - run: npm test
      - run: npm run build

      - uses: actions/upload-artifact@v1
        name: Upload build as artifact
        if: always()
        with:
          name: react-app-dist
          path: ./build

  deploy-on-github-pages:
    name: 'Deploy app to GitHub Pages from main branch source code'
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: react-app-dist
          path: ./build

      - name: Deploy app as GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.8.0
        if: ${{ github.event_name != 'pull_request' && always() }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: './build'
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          force_orphan: true
          keep_files: false
