@import 'src/styles/variables';

.container {
  background: url('../../images/bg-home.png'), $colorBlack;
  width: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .box {
    padding: 0 5em;
    height: 100vh;
    color: $colorWhite;
    font-weight: 400;
    text-align: center;

    &Text {
      font-size: 10em;
      margin-bottom: 0;
    }

    &SubText {
      font-size: 2rem;
      margin-top: 0;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        margin: 0.5rem;
      }
    }
  }

  @media screen and (min-width: 46em) {
    .box {
      padding: 0;

      &Text {
        font-size: 20em;
      }

      .buttons {
        flex-direction: row;

        a {
          margin: 0 0.5rem;
        }
      }
    }
  }
}
